<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lambda tests Mobile automation test suite" parallel="tests" thread-count="2">
    <test name="Proverbial app - Android Mobile Automation">
        <parameter name="platformName" value="ANDROID"/>
        <parameter name="version" value="10"/>
        <parameter name="device" value="Galaxy S9 Plus"/>
        <classes>
            <class name="io.github.mfaisalkhatri.mobileautomation.tests.LambdaTests">
                <methods>
                    <include name="proverbialAppTests"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->

    <test name="Proverbial app - iOS Mobile Automation">
        <parameter name="platformName" value="IOS"/>
        <parameter name="version" value="14"/>
        <parameter name="device" value="iPhone 11"/>
        <classes>
            <class name="io.github.mfaisalkhatri.mobileautomation.tests.LambdaTests">
                <methods>
                    <include name="proverbialAppTests"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->
